body {
	background: #f7f7f7 !important;
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

a,
a:focus,
a:hover {
	color: #a3afb7;
	text-decoration: none;
}

.no-gutter {
	padding: 0px !important
}

.no-padd-left {
	padding-left: 0px
}

.no-padd-right {
	padding-right: 0px
}

@font-face {
	font-family: 'averta-bolduploaded_file';
	src: url('../fonts/averta_bold-webfont.woff2') format('woff2'), url('../fonts/averta_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'averta-lightuploaded_file';
	src: url('../fonts/averta_light-webfont.woff2') format('woff2'), url('../fonts/averta_light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'averta-semibolduploaded_file';
	src: url('../fonts/averta_semibold-webfont.woff2') format('woff2'), url('../fonts/averta_semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'averta-regularuploaded_file';
	src: url('../fonts/averta-webfont.woff2') format('woff2'), url('../fonts/averta-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/*-------------ANIMATIONS ------------------*/

.animateclass {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.animate-300 {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.animate-400 {
	-webkit-transition: all 0.45s ease-in-out;
	-moz-transition: all 0.45s ease-in-out;
	-ms-transition: all 0.45s ease-in-out;
	-o-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}


/*
.animated {
	visibility: hidden;
}

.animated.visible {
	visibility: visible;
}*/


/*-------------GENERAL RELOCATELY STYLES ------------------*/

h1,
h1,
h3,
h4,
h5,
h6 {
	text-shadow: none;
	color: #76838f
}

h2 {
	font-size: 30px;
	font-family: 'averta-semibolduploaded_file';
}

.modal-backdrop.in {
	opacity: .82;
	filter: alpha(opacity=82);
}

.color-text-orange {
	color: #f49500
}

.color-text-bluestong {
	color: #212a46
}

.color-text-bluelight {
	color: #34495e
}

.color-text-white {
	color: #fff
}

.color-bg-orange {
	color: #f49500
}


/* BUTTONS */

.btn {
	padding: 11px 45px;
}

.btn-lg {
	padding: 10px 18px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 4px;
}

.btn-round {
	border-radius: 1000px;
}

.btn-orange {
	color: #fff;
	border-color: #f49500;
	background-color: #f49500;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
	background-color: #ec9940;
	border-color: #ec9940;
	color: #fff;
}

.btn-outline.btn-orange {
	color: #f49500;
	border-color: #f49500;
	background-color: transparent;
}


/*.btn-outline.btn-orange.active,
.btn-outline.btn-orange:active,
.btn-outline.btn-orange:focus,*/

.btn-outline.btn-orange:hover,
.open>.dropdown-toggle.btn-outline.btn-warning {
	color: #fff;
	background-color: #f49500;
	border-color: #f49500;
}

.btn-bluestong {
	color: #fff;
	border-color: #212a46;
	background-color: #212a46;
}

.btn-bluestong:hover {
	color: #fff;
	background-color: #212a46;
	border-color: #212a46;
}

.btn-bluestong:hover,
.btn-bluestong:focus,
.btn-bluestong:active {
	background-color: #212a46;
	border-color: #212a46;
	color: #fff;
}

.btn-outline.btn-bluestong {
	color: #212a46;
	border-color: #212a46;
	background-color: transparent;
}


/*.btn-outline.btn-orange.active,
.btn-outline.btn-orange:active,
.btn-outline.btn-orange:focus,*/

.btn-outline.btn-bluestong:hover {
	color: #fff;
	background-color: #212a46;
	border-color: #212a46;
}


/**/

.btn-white {
	color: #fff;
	border-color: #fff;
	background-color: transparent;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
	background-color: #ec9940;
	border-color: #ec9940;
	color: #fff;
}

.btn-outline.btn-white {
	color: #fff;
	border-color: #fff;
	background-color: transparent;
}


/*.btn-outline.btn-orange.active,
.btn-outline.btn-orange:active,
.btn-outline.btn-orange:focus,*/

.btn-outline.btn-white:hover {
	color: #fff;
	background: #212a46;
	border-color: #212a46;
	/*background-color: rgba(255 , 255, 255, 0.1);*/
	/*border-color: rgba(255 , 255, 255, 0.3);*/
}


/* BUTTONS */

.navbar {
	box-shadow: none
}

.navbar-header {
	background: none;
	padding-bottom: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default {
	background: none;
	position: relative;
	z-index: 999;
}

.navbar-default .navbar-toggle {
	border: none
}

.navbar-right {
	padding-top: 15px
}

.navbar-default .navbar-toolbar>li {
	margin-left: 10px
}

.navbar-default .navbar-toolbar>li>a {
	font-family: 'averta-regularuploaded_file';
	color: #ffffff;
	font-size: 15px;
	opacity: 0.7;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-toolbar>li>a:hover {
	background: transparent;
	color: #ffffff;
	opacity: 1;
}

.nav>li:focus,
.nav>li:active {
	background: none !important
}

.navbar-default .hamburger .hamburger-bar,
.navbar-default .hamburger:after,
.navbar-default .hamburger:before {
	background: #fff;
}

.navbar-default .navbar-toolbar>li>a:focus {
	background: none;
	color: #f5f5f5
}

.navbar-default .navbar-toolbar>.open>a,
.navbar-default .navbar-toolbar>.open>a:focus,
.navbar-default .navbar-toolbar>.open>a:hover {
	background: transparent;
	color: #f5f5f5
}

.nav>li button {
	font-family: 'Montserrat', sans-serif;
	color: #f5f5f5;
	margin-top: 15px;
	background: none;
	border: 1px solid rgba(245, 245, 245, 0.46);
	padding: 6px 35px;
	background: rgba(255, 255, 255, 0.1);
}

.nav>li button:hover {
	color: #fff
}

.navbar-default .navbar-toolbar>li>button:focus {
	color: #fff
}

.dropdown-menu {
	visibility: hidden;
	display: inherit !important;
	opacity: 0;
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	transform: translateY(-2em);
	z-index: -1;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	background: #212a46;
	font-family: 'averta-regularuploaded_file';
}

.dropdown-menu>li:hover,
.dropdown-menu>li>a:hover {
	background: none;
	opacity: 1;
	color: #fff
}

.dropdown-menu>li>a {
	color: #fff;
	font-weight: 700!important;
	opacity: 0.7
}

#custom-nav .dropdown .dropdown-menu li:hover .sub-menu {
	visibility: visible;
}

#custom-nav .dropdown:hover .dropdown-menu {
	visibility: visible;
	opacity: 1;
	z-index: 1;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s;
}


/*------------- FIRST SECTION ------------------*/

.first-section {
	width: 100%;
	position: relative;
	top: -101px;
	height: 858px;
	background: url(../img/home-banner.jpg) no-repeat center top;
	height: 110vh;
	min-height: 900px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.first-section-text-wrapper {
	position: relative;
	margin-top: 277px;
}

.first-section-text-wrapper h1 {
	color: #fff;
	font-family: "averta-bolduploaded_file";
	font-size: 50px;
	line-height: 53px;
	margin: 0;
}

.first-section-text-wrapper h1 span {
	font-family: "averta-regularuploaded_file";
}

.first-section-text-wrapper p {
	color: #fff;
	font-family: "averta-lightuploaded_file";
	font-size: 24px;
	line-height: 30px;
	margin: 25px 0 0 0;
}

.first-section-text-wrapper p span {
	font-family: "averta-semibolduploaded_file";
}

.rw-wrapper h2 {
	color: #fff;
	font-family: "averta-lightuploaded_file";
	font-size: 24px;
	line-height: 30px;
	margin: 25px 0 0 0;
}

.rw-wrapper h2 span {
	font-family: "averta-semibolduploaded_file";
}

.rw-wrapper {
	width: 100%;
	position: relative;
	margin: 7px auto 0px 0px;
}

.rw-sentence {
	margin: 0;
	text-align: left;
}

.rw-sentence span {
	color: #444;
	font-weight: 700;
	font-size: 24px;
}

.rw-words {
	display: inline;
	text-indent: 10px;
}

.rw-words-1 span {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #f49500;
	-webkit-animation: rotateWord 15s linear infinite 0s;
	-ms-animation: rotateWord 15s linear infinite 0s;
	animation: rotateWord 15s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) {
	-webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
	color: #ffd15e;
}

.rw-words-1 span:nth-child(3) {
	-webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
	color: #f49500;
}

.rw-words-1 span:nth-child(4) {
	-webkit-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;
	color: #ffd15e;
}

.rw-words-1 span:nth-child(5) {
	-webkit-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s;
	color: #ffd15e;
}


/*.rw-words-1 span:nth-child(6) {
-webkit-animation-delay: 15s;
-ms-animation-delay: 15s;
animation-delay: 15s;
color: #5cb85c;

}
*/

@-webkit-keyframes rotateWord {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 0;
		-webkit-transform: translateY(-30px);
	}
	5% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}
	17% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}
	20% {
		opacity: 0;
		-webkit-transform: translateY(30px);
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes rotateWord {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 0;
		-ms-transform: translateY(-30px);
	}
	5% {
		opacity: 1;
		-ms-transform: translateY(0px);
	}
	17% {
		opacity: 1;
		-ms-transform: translateY(0px);
	}
	20% {
		opacity: 0;
		-ms-transform: translateY(30px);
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes rotateWord {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 0;
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	5% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	17% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	20% {
		opacity: 0;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@media screen and (max-width: 768px) {
	.rw-sentence {
		font-size: 18px;
	}
}

@media screen and (max-width: 320px) {
	.rw-sentence {
		font-size: 9px;
	}
}

.location-select-wrapper {
	float: left;
	margin: 70px 0 0 0;
	width: 100%;
	position: relative;
	z-index: 1100;
}

h3.location-select-title {
	font-family: "averta-semibolduploaded_file";
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	margin: 0 0 15px 0
}

.origin-pin {
	/* Size and position */
	position: relative;
	width: 60px;
	margin: 0 auto;
	padding: 18px;
	/* Styles */
	/*background: #fff;*/
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 2px solid rgba(255, 255, 255, 0.15);
	box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
	cursor: pointer;
	outline: none;
	/* Font settings */
	color: #fff;
	float: left
}

.origin-pin i {
	font-size: 19px;
}

.right-dropdown {
	margin-left: 15px
}

.wrapper-dropdown-3 {
	/* Size and position */
	position: relative;
	width: 240px;
	margin: 0 auto;
	padding: 18px;
	/* Styles */
	/*background: #fff;*/
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 2px solid rgba(255, 255, 255, 0.15);
	border-left: 0;
	box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
	cursor: pointer;
	outline: none;
	/* Font settings */
	font-family: "averta-semibolduploaded_file";
	font-size: 15px;
	color: #fff;
	float: left
}

.wrapper-dropdown-3:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -3px;
	border-width: 4px 4px 0 4px;
	border-style: solid;
	border-color: #fff transparent;
	opacity: 0.7
}

.wrapper-dropdown-3 .dropdown {
	/* Size & position */
	position: absolute;
	top: 59px;
	left: 0;
	right: 0;
	/* Styles */
	background: #212a46;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.17);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	font-weight: normal;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	list-style: none;
	/* Hiding */
	opacity: 0;
	pointer-events: none;
	padding-left: 0px;
}


/*.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;
}*/

.wrapper-dropdown-3 .dropdown li a {
	display: block;
	padding: 0px 15px 7px 15px;
	text-decoration: none;
	color: #fff;
	/*border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);*/
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 0.7
}

.wrapper-dropdown-3 .dropdown li:first-child {
	padding: 15px 0px 0px 0px;
}

.wrapper-dropdown-3 .dropdown li:last-child {
	padding: 0px 0px 10px 0px;
}

.wrapper-dropdown-3 .dropdown li i {
	float: right;
	color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
	border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
	border: none;
	border-radius: 0 0 7px 7px;
}


/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
	/*background: #f3f8f8;*/
	opacity: 1
}


/* Active state */

.wrapper-dropdown-3.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}

.origin-circle {
	left: -9px;
}

.activelocation {
	background: #f49500 !important;
}

.origin-circle:after {
	content: '';
	height: 2px;
	width: 50px;
	background: #fff;
	opacity: 0.7;
	position: absolute;
	left: 15px;
	top: 5px;
}

.destiny-circle {
	right: -25px;
}

.origin-circle,
.destiny-circle {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 17px;
	height: 17px;
	background: #36434d;
	border: 2px solid;
	border-color: rgba(255, 255, 255, 0.8);
	display: table-cell;
	position: relative;
	top: 21px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.btn {
	font-family: "averta-bolduploaded_file";
}

.button-location-banner {
	font-size: 20px
}

.button-location-banner i {
	font-size: 13px;
	margin-left: 15px;
	position: relative;
	top: -1px
}

.btn-lg-location {
	padding: 15px 25px;
}


/*-------------FIRST SECTION ------------------*/

.has-error .form-control {
	border-color: #FFCECE;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.inner-modal-wrapper h2 {
	color: #52606a;
	font-size: 25px;
	font-weight: 700
}

.inner-modal-wrapper h3 {
	color: #75838f;
	font-size: 20px;
	font-weight: 300;
	margin-top: 6px
}

.inner-modal-wrapper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 107px;
}

.inner-modal-wrapper i.wb-check {
	font-size: 18px;
	color: #5cd29d
}

.inner-modal-wrapper i.wb-close {
	font-size: 18px;
	color: #E62200
}

.inner-modal-wrapper i.iccheck {
	font-size: 30px;
	color: #5cd29d
}

.inner-modal-wrapper i.icclose {
	font-size: 30px;
	color: #E62200
}

.inner-modal-wrapper .btn.btn-pill-right {
	text-transform: inherit
}

.inner-modal-wrapper .btn.btn-pill-right i {
	font-size: 12px
}

.inner-modal-wrapper .btn .icon {
	width: 1em;
	margin: -1px 0px 0 -2px;
}


/*-------------START EDITOR CONTENT------------------*/


/*-------------FLOATING CONTENT ------------------*/

.floating-content {
	width: 1165px;
	/*height: 410px;*/
	padding-bottom: 75px;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto;
	position: relative;
	z-index: 1000;
	top: -190px;
	-webkit-box-shadow: 1px 1px 14px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow: 1px 1px 14px 0px rgba(50, 50, 50, 0.15);
	box-shadow: 1px 1px 14px 0px rgba(50, 50, 50, 0.15);
}

.secure-item {
	padding: 0 35px 0 35px;
	margin-top: 65px;
}

.circle-item {
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	height: 50px;
	width: 50px;
	background: #fffaef
}

.secure-item i {
	color: #f49500;
	font-size: 25px;
	position: relative;
	top: 13px;
	left: 12px;
	font-weight: 400
}

.secure-item h2 {
	color: #212a46;
	font-family: 'averta-bolduploaded_file';
	font-size: 18px;
	margin: 20px 0 0 0
}

.secure-item p {
	color: #34495e;
	font-family: 'averta-regularuploaded_file';
	font-size: 16px;
	line-height: 24px;
	opacity: 0.7;
	margin: 15px 0 0 0
}

.secure-item p span {
	font-family: 'averta-semibolduploaded_file';
}


/*-------------FLOATING CONTENT ------------------*/


/*-------------LOCATION COUNTRY CONTENT ------------------*/

.location-country-content {
	height: 960px;
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto;
	position: relative;
	z-index: 990;
	top: -290px;
	padding-top: 180px;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f49500+0,f7a81c+100 */
	background: rgb(242, 149, 9);
	/* Old browsers */
	background: -moz-linear-gradient(left, rgba(242, 149, 9, 1) 0%, rgba(247, 168, 28, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(242, 149, 9, 1) 0%, rgba(247, 168, 28, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(242, 149, 9, 1) 0%, rgba(247, 168, 28, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29509', endColorstr='#f7a81c', GradientType=1);
	/* IE6-9 */
}

.location-country-background {
	position: relative;
	z-index: 989898
}

.location-country-content:after {
	content: '';
	width: 80%;
	height: 580px;
	overflow: hidden;
	transform: skewY(12deg);
	transform-origin: 0;
	/*background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);*/
	position: absolute;
	z-index: 15;
	bottom: -160px;
	background: #f7a81c
}

.location-country-content:before {
	content: '';
	width: 100%;
	height: 580px;
	overflow: hidden;
	transform: skewY(12deg);
	transform-origin: 0;
	/*background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);*/
	position: absolute;
	z-index: 15;
	bottom: -160px;
	background: #f49500
}


/*
.stripes:after {
	content: '';
	width: 100%;
    height:100px;
    overflow: hidden;
    transform: skewY(12deg);
    transform-origin: 0;
    background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
	position: absolute;
	z-index: 15;
	bottom:440px
}*/

.location-country-content h2 i {
	font-size: 40px;
	margin-right: 30px;
	position: relative;
	top: 8px
}

.location-country-content p.location-info {
	font-family: 'averta-lightuploaded_file';
	font-size: 18px;
	line-height: 24px;
	margin: 50px 0 0 0;
	padding-right: 25px
}

.location-country-content p.location-info span {
	font-family: 'averta-semibolduploaded_file';
}

.location-country-wrapper {
	width: 1165px;
	padding-bottom: 95px;
	margin: 60px auto;
}

.col-lg-3-5 {
	width: 30%;
	position: relative;
	float: left;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-lg-8-5 {
	width: 65%;
	position: relative;
	float: left;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.location-country-selected {
	width: 100%;
	height: 490px;
	border: 2px solid;
	border-color: rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: 1px 1px 14px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow: 1px 1px 14px 0px rgba(50, 50, 50, 0.15);
	box-shadow: 1px 1px 14px 0px rgba(50, 50, 50, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 85px 40px 40px;
	background-color: rgba(246, 168, 34, 0.85);
}

.location-country-selected h3 {
	font-family: 'averta-bolduploaded_file';
	font-size: 18px;
	color: #fff;
}

.location-country-selected p {
	font-family: 'averta-lightuploaded_file';
	font-size: 16px;
	line-height: 24px;
	margin: 30px 0 0 0;
}

.location-country-selected .btn {
	padding: 15px 29px;
	margin-top: 30px;
	font-family: 'averta-semibolduploaded_file';
	font-size: 15px;
}

.location-country-selected i {
	font-size: 10px;
	margin-left: 10px;
}

.location-country-item {
	font-family: 'averta-bolduploaded_file';
	font-size: 55px;
	text-align: center;
	height: auto;
	padding: 40px 40px 40px 40px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
}

.location-country-item:hover {
	background: #212a46;
	/*background: rgba(255 , 255, 255, 0.1);*/
}

.location-first-div {
	margin-top: 70px;
	margin-bottom: 25px
}

.location-second-div {}


/*-------------LOCATION COUNTRY CONTENT ------------------*/


/*------------- SERVICES  CONTENT ------------------*/

.services-content.floating-content {
	top: -30px;
	padding: 0px
}

.services-item {
	padding: 70px 50px 70px 50px;
}

.border-right {
	border-right: 1px solid #eaeaea;
}

.services-item i {
	color: #f49500;
	font-size: 26px;
	position: relative;
	font-weight: 400
}

.services-item h2 {
	color: #f49500;
	font-family: 'averta-bolduploaded_file';
	margin: 20px 0 0 0
}

.services-item p {
	color: #34495e;
	font-family: 'averta-regularuploaded_file';
	font-size: 16px;
	line-height: 24px;
	opacity: 0.7;
	margin: 15px 0 0 0
}

.services-item p span {
	font-family: 'averta-semibolduploaded_file';
}

.service-content-items-wrapper {
	margin: 110px 0 0 0;
}

.left-text-col {
	padding: 0 45px 0 45px
}

.right-text-col {
	padding: 0 0px 0 45px
}

.services-content-1,
.services-content-2,
.services-content-3 {
	float: left;
	margin-bottom: 170px;
}

.service-content-items-wrapper h2 {
	color: #212a46;
	margin-bottom: 0px
}

.service-content-items-wrapper p {
	color: #34495e;
	font-family: 'averta-regularuploaded_file';
	font-size: 18px;
	line-height: 28px;
	opacity: 0.7;
	margin: 35px 0 0 0;
	padding-right: 40px
}

.service-content-items-wrapper p span {
	font-family: 'averta-semibolduploaded_file';
	opacity: 1
}

.services-item-btn {
	padding: 11px 45px;
	margin-top: 30px;
	font-family: 'averta-semibolduploaded_file';
	font-size: 15px;
	border-width: 2px
}

.services-item-btn i {
	font-size: 10px;
	margin-left: 10px;
}

#illus-1 {
	display: block;
	margin: 0 auto;
	width: 95%
}

#illus-2 {
	display: block;
	margin: 0 auto;
	width: 95%;
	left: -30px;
	position: relative;
}

#illus-3 {
	display: block;
	margin: 0 auto;
	width: 95%
}


/* ---------------------------------  */


/* ANIMATIONS SERVICES */


/* ---------------------------------  */

@-webkit-keyframes rotating
/* Safari and Chrome */

{
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#spin-circle {
	-webkit-animation: rotating 16s linear infinite;
	-moz-animation: rotating 16s linear infinite;
	-ms-animation: rotating 16s linear infinite;
	-o-animation: rotating 16s linear infinite;
	animation: rotating 16s linear infinite;
	transform-origin: 50% 50%
}


/*
#spin-circle  {
  transform: rotate(45deg);
	transform-origin: 50% 50%
}*/


/* ---------------------------------  */


/* ANIMATIONS SERVICES */


/* ---------------------------------  */


/*------------- SERVICES  CONTENT ------------------*/


/*------------- ABOUT  CONTENT ------------------*/

.about-content {
	width: 100%;
	padding: 140px 0 255px 0;
	height: auto;
	background: #212a46;
	clear: both;
	margin-top: 0px
}

.about-content hr {
	border-top: 1px solid #474f65;
	margin: 40px auto
}

.about-content-left p {
	color: #bdc0c8;
	font-family: 'averta-regularuploaded_file';
	font-size: 18px;
	line-height: 28px;
	margin: 35px 0 0 0;
	padding: 0 30px 0 0px;
}

.about-content-left p span {
	font-family: 'averta-semibolduploaded_file';
	color: #fff
}

.about-btn {
	padding: 11px 45px;
	margin-top: 30px;
	font-family: 'averta-semibolduploaded_file';
	font-size: 15px;
	border-width: 2px
}

.about-btn i {
	font-size: 10px;
	margin-left: 10px;
}

.about-btn:hover {
	color: #fff;
	background: #f49500 !important;
	border-color: #f49500 !important;
	/* background-color: rgba(255 , 255, 255, 0.1); */
	/* border-color: rgba(255 , 255, 255, 0.3); */
}

.about-content-right {
	padding: 0 0 0 60px;
}

.about-tips-wrapper {
	float: left;
	margin-bottom: 55px
}

.about-content-right h3 {
	color: #fff;
	font-family: 'averta-semibolduploaded_file';
	font-size: 17px;
	line-height: 22px;
	margin: 0px 0 0 0;
	padding: 0 0 0 55px;
	background: url(../img/rocket.svg) no-repeat left top;
	height: 35px;
	float: left
}

.about-content h3.partners {
	color: #fff;
	font-family: 'averta-semibolduploaded_file';
	font-size: 17px;
	line-height: 22px;
	margin: 30px 0 0 0;
	float: left
}

.about-content-right p {
	color: #bdc0c8;
	font-family: 'averta-regularuploaded_file';
	font-size: 16px;
	line-height: 24px;
	margin: 13px 0 0 0;
	float: left
}

.special-margin-top {
	margin: 25px 0 0 0 !important;
}

img.partners-logos {
	opacity: 0.4;
	position: relative;
	top: -10px
}

img.partners-logos:hover {
	opacity: 1
}

.floating-content-about {
	height: 410px;
	padding-bottom: 75px;
	background: #212a46;
	position: relative;
	z-index: 1000;
	top: -190px;
	-webkit-box-shadow: 1px 1px 30px 0px rgba(0, 2, 0, 0.25);
	-moz-box-shadow: 1px 1px 30px 0px rgba(0, 2, 0, 0.25);
	box-shadow: 1px 1px 30px 0px rgba(0, 2, 0, 0.25);
}

.floating-content-about p {
	color: #fff;
	font-family: 'averta-regularuploaded_file';
	font-size: 16px;
	line-height: 24px;
	margin: 13px 0 0 0;
	float: left;
	text-align: center;
	clear: both;
	width: 100%
}

.animate-about-col {
	overflow: hidden;
	position: relative
}

.floating-content-about:hover .about-text-wrapper-animation {
	margin-top: 40px;
}

.floating-content-about:hover .input-about-wrapper {
	opacity: 1
}

.floating-content-about:hover #arrow {
	opacity: 0;
	margin-top: 30px
}

.about-text-wrapper-animation {
	padding: 0 40px 0 40px;
	margin-top: 75px;
	float: left;
	overflow: hidden;
	position: relative
}

p.about-sub-titile {
	font-family: 'averta-bolduploaded_file';
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.7
}

p.about-titile {
	font-family: 'averta-semibolduploaded_file';
	font-size: 22px;
	line-height: 22px;
	margin: 10px 0 0 0;
	float: left
}

p.about-text {
	font-family: 'averta-regularuploaded_file';
	font-size: 18px;
	line-height: 28px;
	margin: 30px 0 0 0;
	float: left;
	opacity: 0.7
}

#arrow {
	display: block;
	margin: 45px auto 10px;
	width: 97%;
	float: left
}

.input-about-wrapper {
	float: left;
	position: relative;
	overflow: hidden;
	float: left;
	display: block;
	opacity: 0;
	height: 85px;
	width: 100%;
	top: 28px;
}

.input-field-about {
	height: 85px;
	width: 100%;
	height: 85px;
	border: 0px;
	position: absolute;
}

input.input-field-start:focus {
	outline: none;
	border: none
}

input.input-field-start::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff
}

input.input-field-start::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff
}

input.input-field-start:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff
}

input.input-field-start:-moz-placeholder {
	/* Firefox 18- */
	color: #fff
}

.input-field-start {
	height: 85px;
	width: 80%;
	height: 85px;
	border: 0px;
	float: left;
	padding-left: 40px;
	font-family: 'averta-semibolduploaded_file';
	font-size: 16px;
	background: #363e57;
	color: #fff
}

.input-go {
	height: 85px;
	width: 20%;
	height: 85px;
	float: left;
	background: #f49500;
	cursor: pointer
}

#arrow-go {
	display: block;
	margin: 37px auto 10px;
	width: 97%;
	float: left
}

.about-pic {
	width: 157%;
	max-width: 139%;
}


/*------------- ABOUT  CONTENT ------------------*/


/*------------- REVIEWS  CONTENT ------------------*/

.section-review h2 i {
	font-size: 40px;
	margin-right: 30px;
	position: relative;
	top: 8px;
	color: #f49500
}

.review-floating-content {
	width: 1165px;
	/* height: 410px;
    padding-bottom: 75px;*/
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto;
	position: relative;
	z-index: 1000;
	top: 90px;
	-webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.05);
}

.owl-carousel {
	padding: 85px 100px 85px 100px
}

.review-first-wrap {
	float: left;
	width: 100%
}

.review-photo {
	border: none;
	border-radius: 50%;
	height: 40px;
	width: 40px !important;
	float: left;
	margin-right: 15px;
	float: left;
}

.review-name {
	font-family: 'averta-semibolduploaded_file';
	font-size: 22px;
	float: left;
	margin-top: 3px
}

.review-text {
	font-family: 'averta-regularuploaded_file';
	font-size: 16px;
	line-height: 25px;
	float: left;
	margin-top: 15px
}

.owl-stage-outer {
	max-height: 353px;
}

.owl-item {
	background: #fff
}

.owl-carousel .owl-nav {
	font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
	left: 0px;
	top: 45%;
	position: absolute;
}

.owl-carousel .owl-nav .owl-next {
	right: 0px;
	top: 45%;
	position: absolute;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
	color: #f49500
}

.item-slider {
	float: left;
	height: auto;
}

.review-wrapper-button {
	margin-top: 150px
}

.review-btn {
	margin: 0 auto;
	display: block;
	font-family: 'averta-semibolduploaded_file';
	font-size: 15px;
	border-width: 2px;
}

.review-btn i {
	font-size: 10px;
	margin-left: 10px;
}

.review-rating {
	float: left;
	margin-top: 15px
}

.review-rating i {
	float: left;
	color: #ffd15e;
	margin-right: 7px;
	font-size: 12px;
}


/*------------- REVIEWS  CONTENT ------------------*/


/*------------- CALL TO ACTION CONTENT ------------------*/

.call-to-action {
	clear: both;
	margin-top: 85px;
}

.call-action-wrapper {
	width: 100%;
	background: #fff;
	border: 1px solid #eaeaea;
	padding: 40px;
	float: left
}

.call-action-wrapper h3 {
	font-size: 22px;
	font-family: 'averta-semibolduploaded_file';
	margin: 0;
	float: left;
	line-height: 40px;
}

.call-action-wrapper h3 i {
	font-size: 40px;
	margin-right: 30px;
	position: relative;
	color: #f49500;
	float: left
}

.call-to-btn {
	float: right;
}

.call-to-btn i {
	font-size: 10px;
	margin-left: 10px;
}


/*------------- CALL TO ACTION CONTENT ------------------*/


/*------------- FOOTER  CONTENT ------------------*/

footer {
	width: 100%;
	padding: 85px 0 20px 0;
	height: auto;
	background: #212a46;
	clear: both;
	margin-top: 450px
}

img.logo-footer {
	float: left
}

.social-networks {
	float: left;
	display: block;
	width: 100%;
	margin-top: 15px
}

.social {
	float: left;
	margin-right: 25px
}

.social a {
	font-size: 18px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social a:hover {
	color: #ffd15e;
}

ul.footer-links {
	margin-left: 0px;
	padding-left: 0px;
}

ul.footer-links li:first-child a {
	color: #abb3ba
}

ul.footer-links li {
	font-family: 'averta-semibolduploaded_file';
	list-style-type: none;
	float: left;
	font-size: 15px;
	margin-bottom: 15px;
	display: block;
	width: 100%
}

ul.footer-links li a {
	color: #fff;
	text-align: left;
	float: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

ul.footer-links li a:hover {
	color: #ffd15e;
}

p.copyright {
	color: #abb3ba;
	font-family: 'averta-semibolduploaded_file';
	font-size: 13px;
	margin: 90px 0 10px 0;
}


/*------------- FOOTER  CONTENT ------------------*/


/*------------- COUNTRY PICKER  CONTENT ------------------*/

body {
	/*overflow-y: hidden*/
}

.location-selected-wrapper {
	width: 100%;
	height: 100%;
	/*left: -100%;*/
	background: #212a46;
	position: fixed;
	z-index: 99999999999999;
	overflow-y: scroll;
	color: #fff
}

h2.country-name {
	text-align: center
}

.information-timeline {
	padding: 80px 0 350px 0;
	width: 100%
}



#timeline {
	list-style: none;
	position: relative;
	color: #fff;
	margin-top: 400px
}

#timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 5px;
	background-color: #34495e;
	left: 50%;
	margin-left: -1.5px;
}

#timeline .clearFix {
	clear: both;
	height: 0;
}

#timeline .timeline-badge {
	color: #fff;
	width: 60px;
	height: 60px;
	text-align: center;
	position: absolute;
	/*top: 20px;*/
	left: 50%;
	margin-left: -30px;
	background-color: #f49500;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	outline: 20px solid #212a46;
	transition: all 0.25s ease-in;
}

#timeline .timeline-badge span.timeline-balloon-date-day {
	font-size: 30px;
	font-family: 'averta-bolduploaded_file';
	top: 6px;
	position: relative;
}

#timeline .timeline-badge.timeline-filter-movement {
	background-color: #ffffff;
	font-size: 1.7em;
	height: 35px;
	margin-left: -18px;
	width: 35px;
	top: 40px;
}

#timeline .timeline-badge.timeline-filter-movement a span {
	color: #4997cd;
	font-size: 1.3em;
	top: -1px;
}

#timeline .timeline-badge.timeline-future-movement {
	background-color: #ffffff;
	height: 35px;
	width: 35px;
	font-size: 1.7em;
	top: -16px;
	margin-left: -18px;
}

#timeline .timeline-badge.timeline-future-movement a span {
	color: #4997cd;
	font-size: .9em;
	top: 2px;
	left: 1px;
}

#timeline .timeline-movement {
	position: relative;
	padding: 90px 0;
	transition: box-shadow 0.50s ease, opacity 0.25s ease;
}

.timeline-item {
	transition: all 0.55s ease-in-out;
}
.timeline-item.inactive {
	opacity: 0.15;
}

#timeline .timeline-movement.inactive .timeline-item {
	box-shadow: none !important;
	opacity: 0.25;
}
#timeline .timeline-movement.inactive .timeline-badge{
	background: #34495e;
	color: #8697a7;
}


#timeline .timeline-movement .timeline-item {
	padding: 0px 0;
}

#timeline .timeline-movement .timeline-item .timeline-panel {
	border-radius: 3px;
	padding: 10px;
	position: relative;
}

#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#timeline .timeline-movement .timeline-item .timeline-panel.content-left .timeline-panel-ul {
	text-align: left;
}

#timeline .timeline-movement .timeline-item .timeline-panel.content-right .timeline-panel-ul {
	text-align: left;
}

#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
	padding: 0 25px 0 25px
}

#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul li span.title-country {
	font-size: 1.3em;
}

#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
	text-align: left;
}

#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul p.text-country {
	font-size: 16px;
	line-height: 24px;
	font-family: 'averta-regularuploaded_file';
	margin-top: 15px
}

.time-btn {
	margin-top: 30px;
	font-family: 'averta-semibolduploaded_file';
	font-size: 15px;
	border-width: 2px
}

.time-btn i {
	font-size: 10px;
	margin-left: 10px;
}

.time-btn:hover {
	color: #fff;
	background: #f49500 !important;
	border-color: #f49500 !important;
	/* background-color: rgba(255 , 255, 255, 0.1); */
	/* border-color: rgba(255 , 255, 255, 0.3); */
}


/*------------- COUNTRY PICKER  CONTENT ------------------*/


/* START MODAL CONTENT EDITOR */

.custom-editor .modal-body {
	padding: 0
}

.inner-modal-wrapper {
	padding: 20px 25px;
}

.inner-modal-wrapper p {
	color: #37474f;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.inner-modal-wrapper .switchery {
	margin-top: 4px;
}

.inner-modal-wrapper .control-label {
	color: #76838f;
	font-size: 12px;
	font-weight: 700;
}

.inner-modal-wrapper p.modal-inner-title {
	color: #A3AFB7;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 14px
}

.input-group-addon {
	font-weight: 400
}

.inner-modal-wrapper .dropdown-toggle {
	border-radius: 4px !important
}

h4.modal-title {
	font-family: "Lato", sans-serif !important;
	font-weight: 700
}

.info_input_import {
	color: #a3afb7;
	text-transform: inherit !important;
	font-size: 13px !important;
	margin: 5px 0 0 0
}

ul.product-id-list {
	padding-left: 0px;
	margin-bottom: 0px;
	margin-top: -4px;
}

ul.product-id-list li {
	list-style-type: none
}

.inner-modal-wrapper .label {
	margin: 3px 0 0 12px
}

.labelSelectall {
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	font-weight: 700 !important
}

.select2-container,
.select2-container--default {
	z-index: 9999999 !important
}


/* END MODAL CONTENT EDITOR */


/*-------------START MAIN NAV------------------*/

.panel-group {
	margin-bottom: 0px
}

.panel-group .panel-title {
	font-weight: 700;
	padding: 5px 20px 5px 22px;
}

.head_lt_collapsed {
	float: left;
	width: 127px;
	padding: 16px 20px 17px 42px;
	background: #65a9e7
}

.avatar {
	width: 30px;
	margin: 0px 9px 0 0;
}

.nav-bar-top .panel-group .panel-collapse .panel-body {
	padding: 15px 30px 0px 25px;
}

.panel-body .divider {
	opacity: 0.5
}

.panel-body .menusetting {
	padding: 10px 0
}

.panel-group .panel-collapse .panel-body i.material-icons.pull-left {
	margin: 1px 15px 0 0px;
	font-size: 20px;
}

.dropdown .open>a {
	color: #Fff;
	opacity: 1;
}


/*-------------END MAIN NAV------------------*/

.navbar-toggle {
	/*float: right;
	margin-left: 15px;*/
}

.navmenu {
	z-index: 1;
}

.canvas {
	position: relative;
	left: 0;
	z-index: 100;
	min-height: 100%;
	padding: 0px 0 0 0;
	background: #fafafa;
}

@media (min-width: 0) {
	/*.navbar-toggle {
		display: block;
	}*/
}


/*--------------------------------------------*/


/* RESPONSIVE STYLES */


/*--------------------------------------------*/

@media (max-width:1200px) {
	/*.navbar {
		right: auto;
		background: none;
		border: none;
	}
	.canvas {
		padding: 0;
	}*/
	.wrapper-dropdown-3 {
		width: 221px;
	}
	.floating-content,
	.review-floating-content,
	.location-country-wrapper {
		width: 1077px
	}
	.call-action-wrapper h3 {
		font-size: 20px;
	}
	.input-about-wrapper {
		top: 2px;
	}
	.about-pic {
		width: 160%;
		max-width: 160%;
	}
	.owl-carousel {
		padding: 85px 70px 85px 70px;
	}
}

@media (max-width:1100px) {
	/*.navbar {
		right: auto;
		background: none;
		border: none;
	}
	.canvas {
		padding: 0;
	}*/
	.floating-content,
	.review-floating-content,
	.location-country-wrapper {
		width: 96%
	}
}

@media (max-width: 992px) {
	/*.navbar {
		right: auto;
		background: none;
		border: none;
	}
	.canvas {
		padding: 0;
	}*/
	.location-selected-wrapper .container {
		width: 90%
	}
	.first-section-text-wrapper h1 {
		font-size: 44px;
	}
	.rw-wrapper h2 {
		font-size: 22px;
		line-height: 28px;
		margin: 8px 0 0 0;
	}
	.wrapper-dropdown-3.active .dropdown {
		z-index: 9898989;
	}
	.wrapper-dropdown-3 {
		width: 91%;
		margin-bottom: 15px
	}
	.secure-item {
		padding: 0;
	}
	.location-left-cont {
		display: none
	}
	.location-right-cont {
		width: 100%
	}
	.services-item {
		padding: 70px 31px 70px 9px;
	}
	.left-text-col,
	.right-text-col {
		padding: 0px 15px 0 15px;
	}
	.service-content-items-wrapper p {
		padding-right: 0px
	}
	#illus-1,
	#illus-2,
	#illus-3 {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.about-content-right {
		padding: 80px 15px 0 15px;
	}
	.call-action-wrapper h3 {
		float: none;
		text-align: center;
		margin-bottom: 15px
	}
	.call-action-wrapper h3 i {
		margin-right: 0px;
		position: relative;
		float: none;
		left: -15px;
		top: 11px;
	}
	.call-to-btn {
		float: none;
		display: block;
		margin: 0 auto;
		clear: both;
	}
	.owl-carousel {
		padding: 65px 20px 65px 20px;
	}
	.owl-carousel .owl-nav .owl-prev {
		left: -70px;
	}
	.owl-carousel .owl-nav .owl-next {
		right: -70px;
	}
}

@media (max-width:935px) {
	.owl-carousel .owl-nav {}
	.owl-carousel .owl-nav .owl-prev {
		left: 40%;
		bottom: 15px;
		top: inherit;
	}
	.owl-carousel .owl-nav .owl-next {
		right: 40%;
		bottom: 15px;
		top: inherit;
	}
}

nav.navbar.shrink {
	min-height: 35px;
	background: #212a46
}

@media (max-width: 768px) {
	/*.modal {
		position: fixed;
		top: 2%;
		right: 3%;
		left: 3%;
		width: auto;
		margin: 0;
	}*/
	.button-location-banner {
		display: block;
		margin: 0 auto;
		width: 100%
	}
	.navbar-brand {
		padding: 15px 20px;
	}
	.navbar-default .navbar-collapse {
		background: #212a46
	}
	.navbar-toolbar>li {
		float: left;
		width: 100%;
		text-align: center;
		margin-left: 0px !important
	}
	.navbar-default {
		background: #212a46;
		position: fixed;
		z-index: 9989999;
		width: 100%;
	}
	.img-header-logo {
		width: 70%
	}
	h2 {
		font-size: 23px;
	}
	.floating-content,
	.review-floating-content,
	.location-country-wrapper {
		width: 92%
	}
	.location-country-wrapper {
		overflow-x: hidden;
	}
	.services-content-1,
	.services-content-2,
	.services-content-3 {
		float: inherit;
		margin-bottom: 120px;
	}
	.first-section-text-wrapper {
		position: relative;
		margin-top: 200px;
	}
	.first-section-text-wrapper h1 {
		font-size: 28px;
		line-height: 33px;
	}
	.rw-wrapper h2 {
		font-size: 22px;
		line-height: 28px;
	}
	.origin-pin {
		position: relative;
		width: 18%;
	}
	.wrapper-dropdown-3 {
		width: 82%;
	}
	.circle-item {
		margin: 0 auto;
	}
	.secure-item {
		text-align: center;
	}
	.secure-item i {
		left: 0px;
	}
	.location-country-content h2 i {
		font-size: 40px;
		margin-right: -42px;
		position: relative;
		top: -35px;
	}
	.section-review h2 i {
		font-size: 40px;
		margin-right: -42px;
		position: relative;
		top: -35px;
	}
	.location-country-content {
		height: auto;
	}
	.location-country-item {
		font-size: 45px;
		text-align: center;
		height: auto;
		padding: 20px 20px 20px 20px;
	}
	.service-content-items-wrapper {
		margin: 35px 0 0 0;
	}
	.border-right {
		border: none
	}
	.services-item {
		padding: 41px 0px 70px 0px;
	}
	#illus-1,
	#illus-2,
	#illus-3 {
		display: block;
		margin: 0 auto;
		width: 50%;
	}
	#illus-2 {
		left: 0px;
	}
	.services-item-btn {
		width: 100%;
		margin: 20px auto 0;
		position: relative;
		z-index: 98989;
	}
	img.partners-logos {
		top: 10px;
		width: 100%;
	}
	.owl-carousel {
		padding: 65px 10px 65px 10px;
	}
	.owl-stage-outer {
		max-height: auto !important;
		min-height: 550px;
	}
	.review-text {
		font-size: 14px;
		line-height: 21px;
	}
	footer {
		padding: 24px 0 20px 0;
		margin-top: 72px;
	}
	p.copyright {
		margin: 27px 0 10px 0;
	}
	.social {
		width: 33%;
		margin-right: 0px
	}
	.social a {
		text-align: center;
		width: 100%;
		display: block;
	}
}

@media (max-width: 520px) {
	#illus-1,
	#illus-2,
	#illus-3 {
		display: block;
		margin: 0 auto;
		width: 98%;
		top: -60px;
		position: relative
	}
	#illus-1 g,
	#illus-2 g,
	#illus-3 g {
		top: -60px;
		position: relative
	}
	.owl-carousel .owl-nav .owl-prev {
		left: 20%;
	}
	.owl-carousel .owl-nav .owl-next {
		right: 20%;
	}
}


/* ----------- iPad Pro ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.first-section {
		height: auto;
	}
}


/* ----------- iPad Pro ----------- */


/* Portrait and Landscape */


/*--------------------------------------------*/


/* RESPONSIVE STYLES */


/*--------------------------------------------*/
